body {
    background-image: url(../images/cat2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.head1 {
   
    text-align: center;
    padding-top: 200px;
    padding-left: 600px;
    padding-bottom: 0;
    color: orange;
    text-decoration: underline;
}

.head2 {
    display: block;
    text-align: center;
    color: orange;
    padding-left: 600px;
    text-decoration: underline;
}

.wrapper {
    text-align: center;
    padding-left: 600px;
    
}

p {
    background-color: pink;
    margin-left: 550px;
    width: 200px;
    border: solid 1px black;
}

#hellobutton {
    height: 400px;
    width: 400px;
    background-color: lemonchiffon;
    font-size: large;
}
